header {
    width: 100%;
}

#header-content {
    width: 1170px;
    margin: 0 auto;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav {
    margin-left: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 14px;
    text-transform: uppercase;
    justify-content: space-between;
    color: #070707;
}

.main-nav .nav-child {
    height: 100%;
    display: flex;
    font-family: 'Helvetica Neue, Medium';
    align-items: center;
}

.main-nav .nav-child:not(:first-child)::before {
    display: block;
    content: '';
    height: 9px;
    border-left: 0.5px solid #C6C6C6;
    margin-right: 17px;
}

.main-nav .nav-child a {
    display: flex;
    align-items: center;
    height: 100%;
}

.main-nav .nav-child:hover a {
    color: #0090FF;
    box-shadow:inset 0 2px #0090FF;
}

#sub-header {
    width: 100%;
    background: #EDEDED;
}

#sub-header-content {
    width: 1170px;
    margin: 0 auto;
    height: 35px;
    display: flex;
    align-items: center;
    font-size: 11px;
}

#trending {
    margin-right: 19.27px;
    color: #333333;
    font-family: 'Helvetica Neue, Medium';
}

#trending-name {
    margin-left: 14.58px;
    opacity: 0.8;
    color: #666666;
    width: 77%;
    font-family: 'Helvetica Neue, Light';
    overflow: hidden;
}

#other-trending {
    margin-left: auto;
}

#previous-trending,
#next-trending {
    cursor: pointer;
}

#previous-trending {
    transform: rotate(180deg);
}
